<%= form_for(@micropost, html: { name: "micropost" }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :content, placeholder: "Compose new micropost...", name: 'content',
          :onKeyUp => "textCounter(document.micropost.content,document.micropost.counter,140)",
          :onKeyDown => "textCounter(document.micropost.content,document.micropost.counter,140)" %>
  </div>
  <div>
    <%= f.text_field :counter, value: "140", size: "3", name: 'counter' %> 
    characters left
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
